

    .app-header {
        width: 100vw;
        height: rem(45px);
        padding-inline-start: rem(80px);
        padding-inline-end: rem(80px);
        background-color: rgb(212, 210, 210);
    }