.search-results {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 20px;
  .single-preview {

    width: 100%;
    .img-container{
      img {
        width: rem(200px);
        height: rem(112px);
      }
      p {
        font-weight: bold;
        width: 24ch;
      }
    }
  }
}
