.search-results {
  &.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 220px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 20px;
  }
  &.grid-2{
    width: 46%;
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 14px;
    
  }
  .single-preview {
    width: 100%;
    .img-container{
      img {
        width: rem(180px);
        height: rem(135px);
      }
      p {
        font-weight: bold;
        width: 24ch;
      }
    }
  }
}
