* {
    box-sizing: border-box;
}

html {
    font-family: lato;
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    border-radius: 3px;
}

button,
a,
input,
option,
select,
.task,
svg,
.group-header {
    cursor: pointer;
}

button {
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}